<footer class="container py-5">
    <div class="row">
        <p class="foot-text ">The content, information, opinions, and viewpoints contained in these educational
            materials are those of the authors or contributors of such materials. While the American Society of
            Transplantation (AST) and its committees take great care to screen the credentials of the contributors and
            make every attempt to review the contents, AST MAKES NO WARRANTY, EXPRESSED OR IMPLIED, as to the
            completeness or accuracy of the content contained in the educational materials or on this website. The
            reader of these materials uses these materials at his or her own risk, and AST shall not be responsible for
            any errors, omissions, or inaccuracies in these materials, whether arising through negligence, oversight, or
            otherwise. Reliance on any information appearing on this site is strictly at your own risk.</p>
    </div>
</footer>