<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="py-1 d-none d-md-inline-block" href="#macbook">MacBook</a>
    <a class="py-1 d-none d-md-inline-block" href="#surface">Surface</a>
    <a class="py-1 d-none d-md-inline-block" href="#swift">Swift</a>
    <a class="py-1 d-none d-md-inline-block" href="#xps">XPS</a>
    <a class="py-1 d-none d-md-inline-block" href="#zenbook">ZenBook</a>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
  </div>
</nav>